# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# Node.js
node_modules/



# Dependency directories
pids
logs
*.seed
*.pid.lock

# Environment variables
.env*

# Operating System Files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# IDE and Editor Files
.vscode/
.idea/